
    <Div class="menusInferiores">

      <a href="/cursos/" class="menuInferior">
        <div id="textoCursos">Cursos</div>
        <img  class="iconeDeMenu" id="iconeCursos" src="/images/iconeCursos.png" alt="Cursos">
      </a>

      <a href="/PPCs/" class="menuInferior">
        <div id="textoPPCs">PPCs</div>
        <img  class="iconeDeMenu" id="iconeDePpcs" src="/images/iconePpcs.png" alt="Pê pê cês">
      </a>

      <a class="menuInferior">
        <div>Disciplinas</div>
        <img  class="iconeDeMenu" src="/images/iconeDisciplinas.png" alt="Disciplinas">
      </a>

      <a href="/producao/" class="menuInferior">
        <div id="textoProducao">Produção</div>
        <img  class="iconeDeMenu" id="iconeProducao" src="/images/iconeProducao.png" alt="Produção">
      </a>

      <a class="menuInferior">
        <div>Profissionais</div>
        <img  class="iconeDeMenu" src="/images/iconeProfissionais.png" alt="Profissionais">
      </a>
      

    </Div>
    
  