<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script defer src="/javascripts/ppcs.js"></script>
  </head>
  <body>
    
    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>
     
    <div class="container">
      <form method="POST" action="./createPPC">
      Curso: <select name="cursoId">
        <% allCursos.forEach(curso => { %>
        <option value= "<%= curso.cursoId %>"> <%=curso.cursoNome %> </option>
        <% }) %>
        </select>
         Ano do voto: <input type="text" name="votoAno" id="votoAno">
      Horas por crédito: <input type="datetime" name="horaCredito" id="horaCredito">
      Data de início: <input type="date" name="inicioData" id="inicioData">
      Data de fim: <input type="date" name="fimData" id="fimData">
      </br>
      </br>
      
      </br>
      <div class="perfilEspaco">
        <div>
          Número: <input type="text" name="perfilNumero" id="perfilNumero" class="perfilInput">
          Perfil: <input type="text" name="perfil" id="perfil" class="perfilInput">
        </div>
      </div>
      <img src="/images/somaSimbolo.png" class="addbotaoPerfil addBotao">
      <div class="competHabilidadeEspaco">
        <div>
          Número: <input type="text" name="competHabilidadeNumero" id="competHabilidadeNumero" class="competHabilidadeInput">
          Competência/Habilidade: <input type="text" name="competHabilidade" id="competHabilidade" class="competHabilidadeInput">
        </div>
      </div>
      <img src="/images/somaSimbolo.png" class="addbotaoCompetHabilidade addBotao">
     
      
      <input type="submit">
      </form>
    </div>
    
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
