<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/dashboard.css' />
       
        <script defer src="/javascripts/producao.js"></script>
  </head>
  <body>
    
    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="principal">
        <div class="cabecaDaTabela">
          <div class="itemDaCabecaDaTabela" id="nomeTop">Nome</div>
          <div class="itemDaCabecaDaTabela" id="cursoTop">Curso</div>
          <div class="itemDaCabecaDaTabela" id="creditoTop">Cr.</div>
          <div class="itemDaCabecaDaTabela" id="entregaTop">Entrega</div>
          <div class="itemDaCabecaDaTabela" id="nada">Conteudista</div>
          <div class="itemDaCabecaDaTabela" id="nada">Status</div>
          <div class="itemDaCabecaDaTabela" id="nada">Validador</div>
          <div class="itemDaCabecaDaTabela" id="nada">Status</div><br>
        </div>
        <hr>
        
          
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela" id="nada">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela" id="nada">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela" id="nada">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela" id="nada">Fazer convite</div>
        </div>
        <hr><div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela" id="nada">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela" id="nada">Fazer convite</div>
        </div>
        <hr><div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela" id="nada">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela" id="nada">Fazer convite</div>
        </div>
        <hr><div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela" id="nada">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela" id="nada">Fazer convite</div>
        </div>
        <hr><div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela" id="nada">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela" id="nada">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela" id="nada">Fazer convite</div>
        </div>
        <hr>
      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
