<!DOCTYPE html>
<html>
  <head>
    <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/dashboard.css' />
       
        <script defer src="/javascripts/producao.js"></script>
  </head>
  <body>
    
    <%- include('partials/header.ejs') %>
    <%- include('partials/menusDePaginas.ejs') %>

    <div class="container">
      <div class="principal">
        <div class="cabecaDaTabela">
          <div class="itemDaCabecaDaTabela" id="nomeTop">Nome</div>
          <div class="itemDaCabecaDaTabela" id="cursoTop">Curso</div>
          <div class="itemDaCabecaDaTabela" id="creditoTop">Cr.</div>
          <div class="itemDaCabecaDaTabela" id="entregaTop">Entrega</div>
          <div class="itemDaCabecaDaTabela">Conteudista</div>
          <div class="itemDaCabecaDaTabela">Status</div>
          <div class="itemDaCabecaDaTabela">Validador</div>
          <div class="itemDaCabecaDaTabela">Status</div><br>
        </div>
        <hr>
        
          
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Administração</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DPCPC</div>
          <div class="itemDaColunaDaTabela" id="curso">Direito</div>
          <div class="itemDaColunaDaTabela" id="credito">5</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Andreane Oliveira</div>
          <div class="itemDaColunaDaTabela">Trabalhando</div>
          <div class="itemDaColunaDaTabela">Samara Souza</div>
          <div class="itemDaColunaDaTabela">Assinatura de contrato</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Tecnólogo em Marketing</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DPCPC</div>
          <div class="itemDaColunaDaTabela" id="curso">Direito</div>
          <div class="itemDaColunaDaTabela" id="credito">5</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Andreane Oliveira</div>
          <div class="itemDaColunaDaTabela">Trabalhando</div>
          <div class="itemDaColunaDaTabela">Samara Souza</div>
          <div class="itemDaColunaDaTabela">Assinatura de contrato</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">Tecnólogo em gestão financeira</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DPCPC</div>
          <div class="itemDaColunaDaTabela" id="curso">PED, SLP, FPP, LET</div>
          <div class="itemDaColunaDaTabela" id="credito">5</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Andreane Oliveira</div>
          <div class="itemDaColunaDaTabela">Trabalhando</div>
          <div class="itemDaColunaDaTabela">Samara Souza</div>
          <div class="itemDaColunaDaTabela">Assinatura de contrato</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DPCPC</div>
          <div class="itemDaColunaDaTabela" id="curso">DIR</div>
          <div class="itemDaColunaDaTabela" id="credito">5</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Andreane Oliveira</div>
          <div class="itemDaColunaDaTabela">Trabalhando</div>
          <div class="itemDaColunaDaTabela">Samara Souza</div>
          <div class="itemDaColunaDaTabela">Assinatura de contrato</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM, CCONT, TGF, TSC</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM, CCONT, TGF, TSC</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM, CCONT, TGF, TSC</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM, CCONT, TGF, TSC</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM, CCONT, TGF, TSC</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
        <div class="colunaDaTabela">
          <div class="itemDaColunaDaTabela" id="nome">DIROR</div>
          <div class="itemDaColunaDaTabela" id="curso">ADM, CCONT, TGF, TSC</div>
          <div class="itemDaColunaDaTabela" id="credito">3</div>
          <div class="itemDaColunaDaTabela" id="entrega">2022 2</div>
          <div class="itemDaColunaDaTabela">Fernando Gomes</div>
          <div class="itemDaColunaDaTabela">Aprovar nomes</div>
          <div class="itemDaColunaDaTabela">Rhayane Storch</div>
          <div class="itemDaColunaDaTabela">Fazer convite</div>
        </div>
        <hr>
      </div>
    </div>
    <footer>
      Aqui só ficará groselhinha
    </footer>
    
  </body>
</html>
