#nomeTop{
  width: 5vw;
}
#nome{
  width: 5vw;
}

#cursoTop{
  width: 12vw;
}
#curso{
  width: 12vw;
}

#creditoTop {
  text-align:center;
  width: 4vw;
}
#credito {
  text-align:center;
  width: 4vw;
}

#entregaTop{
  width: 5vw;
}

#entrega{
  width: 5vw;
}

