#votoAnoTop{
  width: 9vw;
  text-align: center;
}
#votoAno{
  width: 9vw;
  text-align: center;
}

#horaCreditoTop{
  width: 9vw;
  text-align: center;
}
#horaCredito{
  width: 9vw;
  text-align: center;
}

#cursoNomeTop {
  
  width: 15vw;
}
#cursoNome {
  
  width: 15vw;
}

#inicioDataTop{
  width: 9vw;
  text-align: center;
}

#inicioData{
  width: 9vw;
  text-align: center;
}

#fimDataTop{
  width: 9vw;
  text-align: center;
}

#fimData{
  width: 9vw;
  text-align: center;
}

.cabecalho{
  display:flex;
}

.info1{
  width: 33vw;
}

.egressoPerfil{
  display:flex;
  margin-bottom: 0.1vw;
}

.competHabilidade{
  display:flex;
  margin-bottom: 0.1vw;

}

.numero{
  width: 3vw;
}